<div class="landing-msg">
  <h1>Welcome to Olaf's Social-Book</h1>
  <p>Please log in or sign up to do anything Olaf!</p>
  <%= link_to 'Log in', new_user_session_path %>
  <%= link_to 'Sign Up', new_user_path %>
</div>
