<li>
  <div class="user_card">
    <%= link_to user.name, user_path(user) %>
    <%  if current_user == user %>
      <%= link_to "Edit", edit_user_path(user) %>
      <%= link_to "delete", user, method: :delete,
                                              data: { confirm: "Delete account?"} %>
    <% end %>
  </div>
</li>
