//imports
@import 'colors';

//global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 43px;
  background-color: $base_medium;
}
header,
footer {
  height: 43px;
  width: 100%;
  color: white;
  background-color: $base_color;
  font-size: 1.2em;
  a {
    text-decoration: none;
    padding: 10px;
    color: $text_light;
    line-height: 43px;
    font-weight: 600;
    vertical-align: bottom;
  }
  a:hover {
    color: $text_default;
    background-color: $base_highlight;
  }
  p {
    display: inline-block;
    line-height: 43px;
    vertical-align: bottom;
  }
  nav {
    float: right;
  }
}
header:after {
  content: "";
  display: table;
  clear: right;
}
.content {
  width: 60%;
  min-height: 87vh;
  padding: 25px 0;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  color: $text_default;
  a {
    padding-top: 10px;
  }
  h2 {
    padding-bottom: 10px;
  }
}
footer {
  position: absolute;
  bottom: 0;
}
.dropdown-btn {
  display: none;
  height: 33px;
  width: 53px;
  margin-top: 5px;
  margin-right: 10px;
  border: none;
  background-color: $base_light;
  color: $text_default;
  font-size: 1.02em;
}
.mobile-nav {
  display: block;
  position: absolute;
  z-index: 0;
  right: 10px;
  width: 220px;
  background-color: $base_light;
  a {
    display: block;
    padding-left: 10px;
    color: $text_default;
  }
  a:hover {
    background-color: $base_color;
    color: $text_light;
  }
}
@media only screen and (max-width: 600px) {
  .content {
    width: 100%
  }
  .dropdown-btn {
    display: inline-block;
  }
  .navbar {
    display: none;
  }
}
