//imports
@import 'colors';

//global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 43px;
  background-color: $base_medium;
}
header,
footer {
  height: 43px;
  width: 100%;
  color: white;
  background-color: $base_color;
  font-size: 1.2em;
  a {
    text-decoration: none;
    padding: 10px;
    color: $text_light;
    line-height: 43px;
    font-weight: 600;
    vertical-align: bottom;
  }
  a:hover {
    color: $text_default;
    background-color: $base_highlight;
  }
  p {
    display: inline-block;
    line-height: 43px;
    vertical-align: bottom;
  }
  nav {
    float: right;
  }
}
.content {
  width: 60%;
  min-height: 87vh;
  padding: 25px 0;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  color: $text_default;
  a {
    padding-top: 10px;
  }
  h2 {
    padding-bottom: 10px;
  }
}
footer {
  position: absolute;
  bottom: 0;
}
