// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

.feed,
.post_form {
  width: 60%;
  margin: 0 auto;
}
.post,
.new_post,
.new_comment {
  textarea {
    font-size: 1.1em;
    padding: 3px;
    border: 1px solid $base_shadow;
    background-color: $base_light;
  }
  input {
    min-height: 43px;
    min-width: 50px;
    border: none;
    font-size: .85em;
    background-color: $base_light;
    color: $text_default;
  }
  input:hover {
    color: $text_light;
    background-color:  $base_medium;
    cursor: pointer;
  }
}
.post {
  background-color: $base_color;
  padding: 10px;
  margin: 25px 0;
  color: $text_light;
  box-shadow: 0 20px 15px -12px $base_shadow;
  a:visited {
    color: $text_light;
  }
  p {
    text-align: left;
    padding: 3px 0;
  }
  .new_like,
  .edit_like {
    padding: 5px 0;
    input {
      float: left;
      padding: 5px;
    }
  }
  .comments {
    clear: left;
  }
  .new_comment {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    justify-content: space-between;
    textarea {
      width: 70%;
    }
    input {
      width: 28%;
    }
  }
}
.new_post {
  padding: 15px;
  background-color: $base_color;
  color: $text_light;
  box-shadow: 0 18px 15px -12px $base_shadow;
  label {
    vertical-align: top;
  }
  textarea {
    width: 81%;
  }
  input {
    padding: 8px;
    float: right;
  }
}
.new_post:after {
  content: "";
  display: table;
  clear: right;
}
@media only screen and (max-width: 600px) {
  .post,
  .feed,
  .post_form {
    width: 100%
  }
}
