// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';
.users {
  width: 60%;
  margin: 0 auto;
  color: $text_default;
  h1 {
    text-align: left;
  }
  li {
    list-style: none;
    text-align: left;
    min-height: 30px;
    background-color: $base_light;
    border: 1px solid $base_shadow;
    padding: 5px 8px;;
  }
  a {
    color: $text_default;
  }
  a:hover {
    color: $base_color;
  }
}
.show_user {
  width: 60%;
  margin: 0 auto;
}
input {
  padding: 8px;
  border: none;
  min-width: 43px;
  min-width: 50px;
  background-color: $base_light;
  font-size: .85em;
}
